<!doctype html>
<html>
<head>
    <title>Welcome to the posts list</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
    <h1><%= post.posttitle %></h1>
    <p>Posted by <%= post.username%></p>
    <p><%= post.postcontent %></p>
    <p><%= post.postdate %></p>
    <p><a href="/posts/<%= post.postID %>/delete-post">Delete Post</a></p>
    <h2>Replies</h2>
    <ul>
        <% replies.forEach(item => { %>
            <li>From user: <%= item.username%><br><%=item.replycontent%></li>
        <% }); %>
    </ul>
    <h2>Reply to post</h2>
    <form method="POST" action="/new-reply-submit">
        <div>
            <label for="replycontent">Content:</label>
            <textarea id="replycontent" name="replycontent" required></textarea>
        </div>
        <input type="hidden" name="postID" value="<%=post.postID%>">
        <button type="submit">Create Reply</button>
    </form>
</body>
</html>
